<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   <meta name="description" content="Bootstrap Admin App + MeteorJS">
   <meta name="keywords" content="app, responsive, jquery, bootstrap, dashboard, admin">
   
   <!-- Roboto font -->
   <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>
   
   <title>Detask</title>

   <!-- GOOGLE MAPS-->
   <script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=false"></script>
</head>
