<template name="tagSubmit">	
	<div class="modal fade">
	    <div class="modal-dialog">
	      	<div class="modal-content">
		        <div class="modal-header">
		        	<h2 class="modal-title">New Tag</h2>
		         	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		        </div>
		        <div class="modal-body">
	       			<form class="form-horizontal">
						<div class="form-group">
							<div class="row">
								<div class="controls col-sm-12">
									<input name="body" id="body" type="text" placeholder="Tag">
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12">
									<input type="submit" value="Create" class="btn">
									<a class="btn btn-default cancel" href="#">Cancel</a>
								</div>
							</div>
						</div>
					</form>
	       		</div>
	      	</div>
	    </div>
  	</div>
</template>