<template name="leadImport">
	<div class="modal fade">
	    <div class="modal-dialog">
	      	<div class="modal-content">
		        <div class="modal-header">
		        	<h2 class="modal-title">Upload File</h2>
		         	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		        </div>
		        <div class="modal-body">
	       			<form class="form-horizontal">
						<div class="form-group">
							<div class="row">
								<div class="controls col-sm-12">
									<input type="file" class="filestyle lead-import" data-buttonText="Select file">
								</div>
							</div>
						</div>
					</form>
	       		</div>
	      	</div>
	    </div>
  	</div>
  	<script type="text/javascript">
		$(":file").filestyle({
			icon: false
		});
	</script>
</template>