<template name="projectsList">
      <div class="content-heading">
         <!-- START Options list-->
         <div class="pull-right">
            <div class="btn-group">  
               <button type="button" data-toggle="dropdown" class="btn btn-default">Sort</button>
               <ul role="menu" class="dropdown-menu dropdown-menu-right">
                  <li><a href="#">Name</a>
                  </li>
                  <li><a href="#">Due Date</a>
                  </li>
               </ul>
            </div>
         </div>
         <!-- END Options list    -->
         <span class="header-title">Leads</span>
         <button type="button" class="btn btn-default new-project">New Project</button>
      </div>
      <div class="row">
         <!-- START Main content -->
         <div class="col-xs-9 main-content">

            <!-- {{> EasySearch.Input index=projectsIndex attributes=inputAttributes }}

            {{#EasySearch.Each index=projectsIndex}}
               {{> projectItem}}
            {{/EasySearch.Each}} -->

            {{#each projects}}
               {{> projectItem}}
            {{/each}}
         </div>
         <!-- END Main content -->
      </div>
</template>