<template name="leadTaskStub">
	<div class="lead-task-stub">
		<span class="task-type"><a href="projects/{{this.projectId}}">{{taskType}}</a></span>
		<span class="due-date pull-right">{{dueBy}}</span>
	</div>
</template>