<template name="projectItem">
	<div class="project-stub panel panel-default">
		<div class="panel-heading panel-heading-collapsed">
			<span class="company-name"><a href="{{pathFor 'projectPage'}}">{{title}}</a></span>
			<a href="#" data-tool="panel-collapse" data-toggle="tooltip" title="" class="pull-right" data-original-title="Collapse Panel">
            	<em class="fa fa-plus"></em>
            </a>
            {{#if ownProject}}
				<div class="dropdown pull-right">
					<button class="project-options" id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<em class="icon-options"></em>
					</button>
					<ul class="dropdown-menu" aria-labelledby="dLabel">
				    	<li><a href='#' class="task-edit">Edit</a></li>
				    	<li><a href='#' class="task-delete">Delete</a></li>
					</ul>
				</div>
			{{/if}}
		</div>
		<div class="panel-wrapper collapse">
			<div class="panel-body">
			
			</div>
		</div>
	</div>
</template>	