<template name='projectSubmit'>
	<div class="modal fade" id="projectSubmit">
	    <div class="modal-dialog">
	      	<div class="modal-content">
		        <div class="modal-header">
		        	<h2 class="modal-title">New Project</h2>
		         	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		        </div>
	       		<div class="modal-body">
	       			<form class="form-horizontal">
						<div class="form-group">
							<div class="controls col-sm-12">
								<label class="control-label" for="title">Title</label>
								<input class="form-control" name="title" id="title" type="text" value="" placeholder="">
							</div>
						</div>
						<div class="form-group">
							<div class="controls col-sm-12">
								<label class="control-label" for="title">Description</label>
								<input class="form-control" name="description" id="description" type="text" value="" placeholder="">
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<button type="submit" class="btn btn-primary">Create</button>
								<a class="btn btn-default cancel" href="#">Cancel</a>
							</div>
						</div>
					</form>
	       		</div>
	      	</div>
	    </div>
	</div>
</template>