<template name="projectPage">
    <div class="header">
    	<span class="page-title heavy">{{title}}</span>
    	<p class="color-alt">{{description}}</p>
    </div>
	<div class="project-page">
		<!-- Start timeline input -->
		<form class="new-story">
			<div class="form-group">
				<div class="input-group">
	            	<input type="text" name="body" id="body" placeholder="New message" class="form-control input-sm">
	             	<span class="input-group-btn">
	                	<div class="btn-group">
			               <button type="button" data-toggle="dropdown" class="btn btn-default btn-sm"><em class="fa fa-plus"></em></button>
			               <ul role="menu" class="dropdown-menu dropdown-menu-right">
			                  <li><a href="#" class="new-task">New Task</a></li>
			                  <li><a href="#" class="new-file">Upload File</a></li>
			               </ul>
			            </div>
	             	</span>
          		</div>
			</div>
		</form>
		<!-- End timeline input -->

		{{#each stories}}
			{{> storyItem}}
		{{/each}}
	</div>
</template>