<template name="contextMenu">
	<div role="tabpanel" class="panel panel-transparent">
     <!-- Nav tabs-->
     <ul role="tablist" class="nav nav-tabs nav-justified">
        <li role="presentation" class="active">
           <a href="#home" aria-controls="home" role="tab" data-toggle="tab" class="bb0" aria-expanded="true">
              To-Do</a>
        </li>
        <li role="presentation" class="">
           <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab" class="bb0" aria-expanded="false">
              Completed</a>
        </li>
     </ul>
     <!-- Tab panes-->
     <div class="tab-content p0 bg-white">
        <div id="home" role="tabpanel" class="tab-pane active">
           <!-- START list group-->
           <div class="list-group mb0">
              <a href="#" class="list-group-item bt0">
                 <span class="label label-purple pull-right">just now</span>
                 Calendar updated</a>
              <a href="#" class="list-group-item">
                 <span class="label label-purple pull-right">4 minutes ago</span>
                 Commented on a post</a>
              <a href="#" class="list-group-item">
                 <span class="label label-purple pull-right">23 minutes ago</span>
                Order 392 shipped</a>
              <a href="#" class="list-group-item">
                 <span class="label label-purple pull-right">46 minutes ago</span>
                 Invoice 653 has been paid</a>
              <a href="#" class="list-group-item">
                 <span class="label label-purple pull-right">1 hour ago</span>
                 A new user has been added</a>
              <a href="#" class="list-group-item">
                 <span class="label label-purple pull-right">2 hours ago</span>
                 Completed task: "pick up dry cleaning"</a>
              <a href="#" class="list-group-item">
                 <span class="label label-purple pull-right">yesterday</span>
                 Saved the world</a>
              <a href="#" class="list-group-item">
                 <span class="label label-purple pull-right">two days ago</span>
                 Completed task: "fix error on sales page"</a>
              <a href="#" class="list-group-item">
                 <span class="label label-purple pull-right">two days ago</span>
                 Completed task: "fix error on sales page"</a>
           </div>
           <!-- END list group-->
           <div class="panel-footer text-right"><a href="#" class="btn btn-default btn-sm">View All Activity </a>
           </div>
        </div>
        <div id="profile" role="tabpanel" class="tab-pane">
           <!-- START table responsive-->
           <div class="table-responsive">
              <table class="table table-bordered table-hover table-striped">
                 <thead>
                    <tr>
                       <th>Order #</th>
                       <th>Order Date</th>
                       <th>Order Time</th>
                       <th>Amount (USD)</th>
                    </tr>
                 </thead>
                 <tbody>
                    <tr>
                       <td>3326</td>
                       <td>10/21/2013</td>
                       <td>3:29 PM</td>
                       <td>$321.33</td>
                    </tr>
                    <tr>
                       <td>3325</td>
                       <td>10/21/2013</td>
                       <td>3:20 PM</td>
                       <td>$234.34</td>
                    </tr>
                    <tr>
                       <td>3324</td>
                       <td>10/21/2013</td>
                       <td>3:03 PM</td>
                       <td>$724.17</td>
                    </tr>
                    <tr>
                       <td>3323</td>
                       <td>10/21/2013</td>
                       <td>3:00 PM</td>
                       <td>$23.71</td>
                    </tr>
                    <tr>
                       <td>3322</td>
                       <td>10/21/2013</td>
                       <td>2:49 PM</td>
                       <td>$8345.23</td>
                    </tr>
                    <tr>
                       <td>3321</td>
                       <td>10/21/2013</td>
                       <td>2:23 PM</td>
                       <td>$245.12</td>
                    </tr>
                    <tr>
                       <td>3320</td>
                       <td>10/21/2013</td>
                       <td>2:15 PM</td>
                       <td>$5663.54</td>
                    </tr>
                    <tr>
                       <td>3319</td>
                       <td>10/21/2013</td>
                       <td>2:13 PM</td>
                       <td>$943.45</td>
                    </tr>
                 </tbody>
              </table>
           </div>
           <!-- END table responsive-->
           <div class="panel-footer text-right"><a href="#" class="btn btn-default btn-sm">View All Transactions</a>
           </div>
        </div>
     </div>
  </div>
</template>