<template name="homePage">			
	<!-- Header -->
	<header class="l-intro t-intro">
		<div class="container">
			<!-- Navbar -->
			<nav class="navbar l-nav" id="main-menu" role="navigation">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-targer="#main-nav-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
					<div class="collapse navbar-collapse" id="main-nav-collapse">
						<ul class="nav navbar-nav navbar-right">
							<li><a class="homepage" href="#skills">About</a></li>
							<li><a class="homepage" href="/signup">Sign Up</a></li>
							<li><a class="homepage" href="/login">Sign In</a></li>
						</ul>
					</div>
				</div>
			</nav><!-- end navbar -->

			<!-- Main Banner -->
			<div class="container">
				<div class="l-main-banner t-main-banner t-padding">
					<div class="logo">
						<h1 class="homepage">detask</h1>
					</div>
					<div class="tagline">
						<span>Contextualize your data.</span>
					</div>
					</div>
			</div><!-- end main banner -->
		</div>
	</header><!-- end header -->

	<!-- Screenshot -->
	<section class="t-padding t-features">
		<div class="container">
			<div class="row">
				<div class="screenshot-img"></div>
			</div>
		</div>
	</section><!-- end section--> 

	<!-- Features -->
	<section class="t-padding t-features">
		<div class="container">
			<div class="row">
				<h2></h2>
				<p></p>
			</div>

			<div class="row">
				<h2></h2>
				<p></p>
			</div>

			<div class="row">
				<h2></h2>
				<p></p>
			</div>
		</div>
	</section><!-- end section-->

	<!-- Call to Action -->
	<section class="t-padding t-features">
		<div class="container">
			<div class="row">

			</div>
		</div>
	</section><!-- end section--> 

	<!-- Footer -->
	<footer class="l-footer t-footer t-padding">
		<div class="container">
			<p class="contact">
				<span class="logo">
					<span class="heavy">Generic | </span>
					<span>Studios</span><br>
				</span><br>
				<span class="phone">
					<span class="pre">phone: </span>(317) 123-4567<br>
				</span>
				<span class="email">
					<span class="pre">email: </span> hello@genericstudios.com
				</span>
			</p>
			<p class="copyright align-right">Copyright &copy; 2015 <a href="#">Company Name</a></p>
		</div>
	</footer><!-- end footer -->	
</template>