<template name="layout">
      <div class="wrapper">
         <!-- top navbar-->
         {{> yield "navbar"}}
         <!-- sidebar-->
         {{> yield "sidenav"}}
         <!-- offsidebar-->
         <!-- {{> offsidebar}} -->
         <!-- Main section-->
         <section>
            <!-- Page content-->
               <div class="content-wrapper">
                  <div class="row">
                     <div class="col-sm-8">
                        {{> yield}}
                     </div>
                     <div class="col-sm-4">
                        {{> yield 'contextMenu'}}
                     </div>
                  </div>
               </div>
         </section>
      </div>
</template>