<template name="login">
     <div class="wrapper">
        <div class="block-center mt-xl wd-xl">
           <!-- START panel-->
           <div class="panel panel-dark panel-flat sign-up-panel">
              <div class="panel-heading text-center">
                 <a href="#">
                    <img src="img/logo.png" alt="Image" class="block-center img-rounded">
                 </a>
              </div>
              <div class="panel-body">
                 <p class="text-center pv">Sign in to continue.</p>
                 <form role="form" data-parsley-validate="" novalidate="" class="mb-lg login-form">
                    <div class="form-group has-feedback">
                       <input type="text" name="username"  placeholder="Enter username" autocomplete="off" required="" class="form-control" data-parsley-id="4">
                       <span class="fa fa-envelope form-control-feedback text-muted"></span>
                    </div>
                    <div class="form-group has-feedback">
                       <input type="text" name="password" placeholder="Password" required="" class="form-control" data-parsley-id="6">
                       <span class="fa fa-lock form-control-feedback text-muted"></span>
                    </div>
                    <div class="clearfix">
                       <div class="checkbox c-checkbox pull-left mt0">
                          <label>
                             <input type="checkbox" value="" name="remember" data-parsley-multiple="remember" data-parsley-id="9">
                             <span class="fa fa-check"></span>Remember Me</label>
                       </div>
                       <div class="pull-right"><a href="recover.html" class="text-muted">Forgot your password?</a>
                       </div>
                    </div>
                    <button type="submit" class="btn btn-block btn-primary mt-lg login">Login</button>
                 </form>
                 <p class="pt-lg text-center">Create an account.</p><a href="{{pathFor 'register'}}" class="btn btn-block btn-default">Signup</a>
              </div>
           </div>
           <!-- END panel-->
           <div class="p-lg text-center">
              <span>©</span>
              <span>2016</span>
              <span>-</span>
              <span>Detask</span>
           </div>
        </div>
     </div>
</template>