<template name="register">
	<div class="wrapper">
      <div class="block-center mt-xl wd-xl">
         <!-- START panel-->
         <div class="panel panel-dark panel-flat sign-up-panel">
            <div class="panel-heading text-center">
               <a href="#">
                  <img src="img/logo.png" alt="Image" class="block-center img-rounded">
               </a>
            </div>
            <div class="panel-body">
               <p class="text-center pv">Create a new account.</p>
               <form role="form" data-parsley-validate="" novalidate="" class="mb-lg form-create-account">
                  <div class="form-group has-feedback">
                     <label for="signupInputEmail1" class="text-muted">Username</label>
                     <input id="signupInputEmail1" type="text" name="username" placeholder="Username" autocomplete="off" required="" class="form-control" data-parsley-id="4">
                     <span class="fa fa-envelope form-control-feedback text-muted"></span>
                  </div>
                  <div class="form-group has-feedback">
                     <label for="signupInputPassword1" class="text-muted">Password</label>
                     <input id="signupInputPassword1" type="password" name="password" placeholder="Password" autocomplete="off" required="" class="form-control" data-parsley-id="6">
                     <span class="fa fa-lock form-control-feedback text-muted"></span>
                  </div>
                  <div class="form-group has-feedback">
                     <label for="signupInputRePassword1" class="text-muted">Retype Password</label>
                     <input id="signupInputRePassword1" type="text" placeholder="Retype Password" autocomplete="off" required="" data-parsley-equalto="#signupInputPassword1" class="form-control" data-parsley-id="8">
                     <span class="fa fa-lock form-control-feedback text-muted"></span>
                  </div>
                  <div class="form-group has-feedback">
                     <label for="signupInputWorkGroupName" class="text-muted">Organization Name</label>
                     <input id="signupInputWorkGroupName" type="text" name="workGroupName" placeholder="Organization Name" autocomplete="off" required="" data-parsley-equalto="#signupInputWorkGroupName" class="form-control" data-parsley-id="8">
                     <span class="fa fa-lock form-control-feedback text-muted"></span>
                  </div>
                  <div class="clearfix">
                     <div class="checkbox c-checkbox pull-left mt0">
                        <label>
                           <input type="checkbox" value="" required="" name="agreed" data-parsley-multiple="agreed" data-parsley-id="11">
                           <span class="fa fa-check"></span>I agree with the <a href="#">terms</a>
                        </label>
                     </div>
                  </div>
                  <button type="submit" class="btn btn-block btn-primary mt-lg">Create account</button>
               </form>
               <p class="pt-lg text-center">Already have an account?</p><a href="{{pathFor 'login'}}" class="btn btn-block btn-default">Login</a>
            </div>
         </div>
         <!-- END panel-->

         <div class="p-lg text-center">
            <span>©</span>
            <span>2016</span>
            <span>-</span>
            <span>Detask</span>
         </div>
      </div>
   </div>
</template>