<template name="sidebar">
      <aside class="aside">
         <!-- START Sidebar (left)-->
         <div class="aside-inner">
            <nav class="sidebar">
               <!-- START sidebar nav-->
               <ul class="nav">
                  <!-- Iterates over all sidebar items-->
                  <li class="{{isActiveRoute regex='singleview'}}">
                     <a href="/" title="feed" class="nav-link">
                        <span class="heavy nav-active">Feed</span>
                     </a>
                  </li>
                  <li>
                      <a href="/projects" title="projects" class="nav-link has-button">
                        <span class="heavy">Projects</span>
                      </a>
                      <a href="#" class="has-button new-project"><em class="icon-plus"></em></a>
                      <ul class="project-list">
                        {{#each projects}}
                          {{> ProjectNavLink}}
                        {{/each}}
                      </ul>
                  </li>
                  <li>
                      <a href="#" title="tasks" class="nav-link">
                        <span class="heavy">Tasks</span>
                      </a>
                  </li>
               </ul>
               <!-- END sidebar nav-->
            </nav>
         </div>
         <!-- END Sidebar (left)-->
      </aside>
</template>