<template name="topnavbar">
      <header class="topnavbar-wrapper">
         <!-- START Top Navbar-->
         <nav role="navigation" class="navbar topnavbar">
            <!-- START navbar header-->
            <div class="navbar-header">
               <a href="/" class="navbar-brand">
                  <div class="brand-logo">
                     <img src="/img/logo-light.png" alt="App Logo" class="img-responsive">
                  </div>
                  <div class="brand-logo-collapsed">
                     <img src="/img/logo-single.png" alt="App Logo" class="img-responsive">
                  </div>
               </a>
            </div>
            <!-- END navbar header-->
            <!-- START Nav wrapper-->
            <div class="nav-wrapper">
               <!-- START Left navbar-->
               <ul class="nav navbar-nav">
                  <li>
                     <a href="/workgroups/{{organizationId}}" class="organization-name heavy">{{organizationName}}</a>
                  </li>
               </ul>
               <!-- END Left navbar-->
               <!-- START Right Navbar-->
               <ul class="nav navbar-nav navbar-right">
                  <li>
                     <div class="dropdown">
                        <button class="nav-username" id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="/img/profile-pic.jpg" class="profile-pic img-circle">
                        <span class="username heavy">{{currentUser}}</span><span class="fa fa-angle-down heavy"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dLabel">
                           <li><a href='#' class="user-settings">Settings</a></li>
                           <li><a href='#' class="user-logout">Logout</a></li>
                        </ul>
                     </div> 
                  </li>
                  <li>
                     <!-- Button to show/hide the sidebar on mobile. Visible on mobile only.-->
                     <a href="#" data-toggle-state="aside-toggled" data-no-persist="true" class="visible-xs sidebar-toggle">
                        <em class="fa fa-navicon"></em>
                     </a>
                  </li>
               </ul>
               <!-- END Right Navbar-->
            </div>
            <!-- END Nav wrapper-->
         </nav>
         <!-- END Top Navbar-->
      </header>
</template>