<template name="dashBoard">
  <div class="header">
    <span class="page-title heavy">Latest Activity</span>
  </div>
  <div class="project-page">
    {{#each feed}}
      {{> dashboardStoryItem}}
    {{/each}}
  </div>
</template>