<template name="dashboardCallsList">
	<div class="content-heading">
     <span class="page-title">Calls</span>
  </div>
  <div class="row">
   <!-- START Main content -->
   <div class="col-xs-9 main-content">
     {{#each calls}}
        {{> taskStub}}
     {{/each}}
   </div>
   <!-- END Main content -->
  </div>
</template>