<template name="dashboardStoryItem">
	{{#if hasReplyStatus}}
		<div class="reply-status-container">
			<em class="fa fa-reply"></em><span class="reply-status-author heavy">{{replyStatusAuthor}}</span><span class="light">{{replyStatusAction}}</span><span class="reply-status-date light">{{replyStatusDate}}</span>
		</div>	
	{{/if}}
	<div class="story panel panel-default">
		<div class="panel-heading panel-heading-collapsed">
			<div class="story-metadata">
				<strong class="media-box-heading text-primary">
	        		{{author}}
		        </strong>
		        <span><span class="color-alt">{{details}}</span> <span class="heavy">{{documentType}}</span></span>
		        <span class="color-alt">in</span><a href="#" class="project-link heavy">{{projectLink}}</a>
		        <span class="color-alt light">{{dateCreated}}</span>
		        {{#if ownStory}}
					<div class="dropdown pull-right">
						<button class="project-options" id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<em class="icon-options"></em>
						</button>
						<ul class="dropdown-menu" aria-labelledby="dLabel">
					    	<li><a href='#' class="story-edit">Edit</a></li>
					    	<li><a href='#' class="story-delete">Delete</a></li>
						</ul>
					</div>
				{{/if}}
			</div>
	        {{#if isMessage}}
	        	<p>{{body}}</p>
		        <a href="#" data-tool="panel-collapse" data-toggle="tooltip" title="" data-original-title="Collapse Panel">
	            	<em class="fa fa-reply"></em>{{replyCount}} Replies
	            </a>
	        {{/if}}
	        {{#if isTask}}
	        	<div class="checkbox c-checkbox task-complete">
            		<label>
		            	<input type="checkbox" class="complete-task" data-toggle="tooltip" data-placement="top" title data-original-title="Complete" {{checked}}>
		           		<span class="fa fa-check"></span>
		           	</label>
         		</div>
         		<span class="task-subject">{{body}}</span><br>
         		<a href="#" data-tool="panel-collapse" data-toggle="tooltip" title="" data-original-title="Collapse Panel">
	            	<em class="fa fa-reply"></em>{{replyCount}} Replies
	            </a>
	        {{/if}}
	        {{#if isFile}}
	        	<em class="fa fa-file-o"></em>
	        	<span class="filename">{{fileName}}</span>
	        {{/if}}
		</div>
		<div class="panel-wrapper collapse">
			<div class="panel-body">
				<div class="story-details">
					{{#each notes}}
						{{> note}}
					{{/each}}
				</div>	
			</div>
			<div class="panel-footer">
				<form class="new-reply">
					<div class="form-group">
						<div class="input-group">
			            	<input type="text" name="body" id="body" placeholder="Add reply" class="form-control input-sm">
			             	<span class="input-group-btn">
			             		<!-- <button type="button" class="btn btn-square btn-default btn-sm new-file"><em class="icon-paper-clip"></em></button> -->
			                	<button type="submit" class="btn btn-default btn-sm">Reply
			                	</button>
			             	</span>
		          		</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</template>