<template name="dashboardEmailsList">
	<div class="content-heading">
     <span class="page-title">Emails</span>
  </div>
  <div class="row">
   <!-- START Main content -->
   <div class="col-xs-9 main-content">
     {{#each emails}}
        {{> taskStub}}
     {{/each}}
   </div>
   <!-- END Main content -->
  </div>
</template>