<template name="WorkGroupDashboard">
	<div class="header col-xs-8">
      <span class="page-title heavy">Organization Name - All Members</span>
      <button type="button" class="mb-sm btn btn-default add-member">Add Member</button>
    </div>
</template>