<template name="confirmComplete">
	<div class="modal fade">
	    <div class="modal-dialog">
	      	<div class="modal-content">
		        <div class="modal-header">
		        	<h2 class="modal-title">Complete Task</h2>
		         	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		        </div>
		        <div class="modal-body">
	       			<p>Mark this task as complete?</p>
	       			<button type="button" class="btn btn-default confirm">Confirm</button>
	       			<button type="button" class="btn btn-default cancel">Cancel</button>
	       		</div>
	      	</div>
	    </div>
  	</div>
</template>