<template name="taskEdit">	
	<div class="modal fade">
	    <div class="modal-dialog">
	      	<div class="modal-content">
		        <div class="modal-header">
		        	<h2 class="modal-title">Edit Task</h2>
		         	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		        </div>
		        <div class="modal-body">
	       			<form class="form-horizontal">
						<div class="form-group">
							<div class="row">
								<div class="controls col-sm-3">
									<label for="task-type-select">Task Type</label>
									<select name="taskType" id="task-type-select" data-placeholder="" value="{{taskType}}">
										<option value="">Select</option>
										<option value="call">Call</option>
										<option value="email">Email</option>
										<option value="visit">Visit</option>
									</select>
								</div>
									<div class="controls col-sm-3">
										<label for="datepicker">Due Date</label>
										<input name="datepicker" type="text" id="datepicker" value="{{dueByDateString}}">
									</div>
							</div>
							<div class="row">
								<div class="controls col-sm-12">
									<label for="title">Subject</label>
									<input name="title" id="title" type="text" placeholder="" value="{{title}}">
								</div>
							</div>
							<div class="row">
								<div class="controls col-sm-12">
									<label for="description">Details</label>
									<textarea name="description" id="description" type="text" rows="4" placeholder="" value="{{description}}"></textarea>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12">
									<input type="submit" value="Create" class="btn">
									<a class="btn btn-default cancel" href="#">Cancel</a>
								</div>
							</div>
						</div>
					</form>
	       		</div>
	      	</div>
	    </div>
  	</div>
</template>