<template name="taskStub">
	<div class="task-stub panel panel-default">
		<div class="panel-heading panel-heading-collapsed">
			<div class="checkbox c-checkbox task-complete">
            <label>
            	<input type="checkbox" data-toggle="tooltip" data-placement="top" title data-original-title="Complete" {{checked}}>
           		<span class="fa fa-check"></span></label>
         	</div>
			<span class="task-type">{{taskType}}</span>
			<span class="task-subject">{{title}}</span>
			<a href="#" data-tool="panel-collapse" data-toggle="tooltip" title="" class="pull-right" data-original-title="Collapse Panel">
            	<em class="fa fa-plus"></em>
            </a>
            {{#if ownTask}}
				<div class="dropdown pull-right">
					<button class="task-options" id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<em class="icon-options"></em>
					</button>
					<ul class="dropdown-menu" aria-labelledby="dLabel">
						
				    	<li><a href='#' class="task-edit">Edit</a></li>
				    	<li><a href='#' class="task-delete">Delete</a></li>
					</ul>
				</div>
			{{/if}}
            <span class="task-due-date pull-right"><span class="heavy">Due: </span>{{date}}</span>
		</div>
		<div class="panel-wrapper collapse">
			<div class="panel-body">
				<div class="task-details">
					{{#each notes}}
						{{> note}}
					{{/each}}
					{{#each files}}
						{{> fileStub}}
					{{/each}}
				</div>
			</div>
			<div class="panel-footer">
				<form>
					<div class="form-group">
						<div class="input-group">
			            	<input type="text" name="body" id="body" placeholder="Add note" class="form-control input-sm">
			             	<span class="input-group-btn">
			             		<button type="button" class="btn btn-square btn-default btn-sm new-file"><em class="icon-paper-clip"></em></button>
			                	<button type="submit" class="btn btn-default btn-sm">Submit
			                	</button>
			             	</span>
		          		</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</template>