<template name="taskSubmit">	
	<div class="modal fade">
	    <div class="modal-dialog">
	      	<div class="modal-content">
		        <div class="modal-header">
		        	<h2 class="modal-title">New Task</h2>
		         	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		        </div>
		        <div class="modal-body">
	       			<form class="form-horizontal">
						<div class="form-group">
							<div class="row">
								<div class="controls col-sm-3">
									<label for="datepicker">Due Date</label>
									<input name="datepicker" type="text" id="datepicker" placeholder="None">
								</div>
							</div>
							<div class="row">
								<div class="controls col-sm-12">
									<label for="subject">Subject</label>
									<input name="subject" id="subject" type="text" value="" placeholder="">
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12">
									<input type="submit" value="Create" class="btn btn-primary">
									<a class="btn btn-default cancel" href="#">Cancel</a>
								</div>
							</div>
						</div>
					</form>
	       		</div>
	      	</div>
	    </div>
  	</div>
</template>