<template name="tasksList">
  <div class="content-heading">
     <!-- START Options list-->
     <div class="pull-right">
        <div class="btn-group">  
           <button type="button" data-toggle="dropdown" class="btn btn-default">Sort</button>
           <ul role="menu" class="dropdown-menu dropdown-menu-right">
              <li><a href="#" class="sort-name">Name</a>
              </li>
              <li><a href="#" class="sort-date">Due Date</a>
              </li>
           </ul>
        </div>
        <div class="btn-group">
           <button type="button" data-toggle="dropdown" class="btn btn-default">Filter</button>
           <ul role="menu" class="dropdown-menu dropdown-menu-right">
              <li><a href="#" class="filter-active">Active</a></li>
              <li><a href="#" class="filter-completed">Completed</a></li>
           </ul>
        </div>
     </div>
     <!-- END Options list    -->
     <span class="header-title">Tasks</span>
  </div>
  <div class="row">
   <!-- START Main content -->
   <div class="col-xs-9 main-content">
     {{#each tasks}}
        {{> tasksListStub}}
     {{/each}}
   </div>
   <!-- END Main content -->
  </div>
</template>