<template name="accountsList">
      <div class="content-heading">
         <!-- START Options list-->
         <div class="pull-right">
            <div class="btn-group">  
               <button type="button" data-toggle="dropdown" class="btn btn-default">Sort</button>
               <ul role="menu" class="dropdown-menu dropdown-menu-right">
                  <li><a href="#">Name</a>
                  </li>
                  <li><a href="#">Due Date</a>
                  </li>
               </ul>
            </div>
            <div class="btn-group">
               <button type="button" data-toggle="dropdown" class="btn btn-default">Filter</button>
               <ul role="menu" class="dropdown-menu dropdown-menu-right">
                  <li><a href="#">Type</a>
                  </li>
               </ul>
            </div>
         </div>
         <!-- END Options list    -->
         <span class="header-title">Accounts</span>
         <button type="button" class="btn btn-default new-project">New Account</button>
         <button type="button" class="btn btn-default import-csv">Import</button>
      </div>
      <div class="row">
         <!-- START Main content -->
         <div class="col-xs-9 main-content">

            {{#each accounts}}
               {{> projectItem}}
            {{/each}}
         
         </div>
         <!-- END Main content -->
      </div>
</template>