.btn-primary {
	background-color: #1d365d;
}

.panel {
	border: 1px solid #ddd;
	border-radius: 0; 

}

.panel-body {
	padding: 0px;
}

.panel.panel-default {
	border-top-width: 1px;
}

.content-heading {

	.page-title {
		padding: 0px 15px;
		font-size: 16px;
	}

}