.stats-panel {
	margin-bottom: @baseline*3;

	.panel-heading {

		background-color: #fff;
		color: @color-dark-text;

		.stat-icon {
			font-size: 5em;
		}

		a {
			color: @color-dark-text;
		}

	}

}

.section-heading {
	margin-bottom: @baseline;
}

.section-title {
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}

.dashboard-task-type-select {
	display: inline-block;
	min-width: 100px;
	vertical-align: middle;
}

