.modal-header {
	
	.modal-title {
		display: inline-block;
		font-size: 1.5em;
	}

}

.modal-body {
	
	.form-horizontal {

		.controls {
			margin-bottom: 10px;
		}

		.form-group {
			width: 100%;
			margin: 0px;
			padding-top: 12px;

			.selectize-input {
				padding: 5px 5px;
				margin-bottom: @baseline;
			}

			input[type='text'] {
				width: 100%;
				padding: 5px 5px;
				margin-bottom: @baseline;
			}

			textarea {
				width: 100%;
				padding: 5px;
				margin-bottom: @baseline;
			}

		}

	}

}
