html#homepage { height: 100%; }

body#homepage { height: 100%; -webkit-font-smoothing: antialiased; }

p { line-height: 24px; margin: 0 0 24px 0; padding: 0; }
p a { text-decoration: none; }
p a:hover { text-decoration: none; }

/* Layout */
.l-intro { width: 100%; }
.l-intro .l-nav { margin-bottom: 0; padding: 24px 0; }
.l-intro .l-nav .navbar-right > li > a { padding: 15px 0 5px 0; margin: 0 15px; }

@media (min-width: 768px) { .l-intro { height: 100%; } }
.l-main-banner { padding: 120px 0; }
.l-main-banner .logo { text-align: center; margin-bottom: 24px; }
.l-main-banner .tagline { text-align: center; margin-bottom: 24px; }
.l-main-banner p > .btn { margin-right: 10px; }

.l-contact { padding: 96px 0 96px 0; }
.l-contact h2 { margin-bottom: 24px; }
.l-contact p { margin-bottom: 48px; }
.l-contact .contact-info { margin-bottom: 48px; }
.l-contact .contact-info .info { display: inline-block; margin-bottom: 7px; }
.l-contact .form-wrapper { max-width: 50em; }
.l-contact .form-wrapper form { margin: 0 auto; }
.l-contact .form-wrapper form label { vertical-align: center; margin-right: 30px; }
.l-contact .form-wrapper form input { min-width: 50em; margin-bottom: 24px; line-height: 24px; padding: 24px 12px; }
.l-contact .form-wrapper form textarea { min-width: 50em; min-height: 15em; margin-bottom: 24px; line-height: 24px; padding: 12px; }

.l-footer { padding: 48px 0; }
.l-footer p { display: inline-block; }
.l-footer p.contact { display: inline-block; }
.l-footer p.contact span.logo { display: inline-block; margin-bottom: 12px; }

/* Modules */
.btn { display: inline-block; padding: 1rem; border: 1px solid; }

/* Theme */
/* General typography */
body#homepage { color: #383838; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

a.homepage { color: #4183C4; }

h1.homepage, h2.homepage, h3.homepage, h4.homepage, h5.homepage, h6.homepage { color: #383838; }

/* Intro */
.t-intro { border-bottom: 1px solid #edf0f2; /* Navbar */ }
.t-intro nav.navbar .navbar-brand { font-weight: 700; color: #383838; }
.t-intro nav.navbar .navbar-brand .light { font-weight: normal; }
.t-intro nav.navbar li > a { color: #383838; background-color: transparent; }
.t-intro nav.navbar li > a:hover, .t-intro nav.navbar li > a:focus { background-color: transparent; }
.t-intro .t-main-banner h1 { color: #383838; font-size: 4em; letter-spacing: -2px; }
.t-intro .t-main-banner h1 span.light { font-weight: 300; }
.t-intro .t-main-banner h1 span.heavy { font-weight: 700; }
.t-intro .t-main-banner .tagline { font-size: 1.5em; color: #383838; }
.t-intro .t-main-banner p > a.btn { border-radius: 0; border-color: #383838; color: #383838; }
.t-intro .t-main-banner p > a.btn:hover { color: #555; border-color: #555; }

.t-divider { width: 24px; height: 3px; background: #383838; margin: 0 auto; margin-bottom: 72px; }

.t-contact { background-color: #fff; }
.t-contact h2 { font-size: 1.5em; }
.t-contact .contact-info { color: #8d8d8d; }
.t-contact .contact-info .info { font-size: 1.2em; }
.t-contact .contact-info .info .pre { color: #383838; }
.t-contact p { font-size: 1.2em; color: #8d8d8d; }
.t-contact input, .t-contact textarea { border-radius: 0; border: none; background-color: #d1d2d4; }
.t-contact input:hover, .t-contact textarea:hover { border: 1px solid #8d8d8d; color: #383838; }
.t-contact input:focus, .t-contact textarea:focus { border: 1px solid #8d8d8d; box-shadow: none; outline: none; }
.t-contact button { border-radius: 0; color: #8d8d8d; }
.t-contact button:hover { background-color: #fff; color: #383838; border-color: #383838; }

/* Footer */
.t-footer { background-color: #191919; }
.t-footer p.copyright { color: #fff; }
.t-footer p.copyright a { color: #8d8d8d; }
.t-footer p.contact span.logo { font-size: 1.3em; color: #fff; }
.t-footer p.contact span.logo span.heavy { font-weight: 700; }
.t-footer p.contact span.phone, .t-footer p.contact span.email { color: #8d8d8d; }
.t-footer p.contact span.phone span.pre, .t-footer p.contact span.email span.pre { color: #fff; }

/* Layout related */
.t-padding { padding: 96px 0; }
