.project-stub {

	.lead-task-stub {
		background-color: #fff;
		border: 1px solid #ddd;
		padding: 5px;

		.task-type {
			text-transform: capitalize;
		}
	}

	.panel-body {

		background-color: #edf1f2;

		.task-details {

			.col-xs-2 {
				padding-left: 0px;
			}

			p {
				color: @color-dark-text-alt;
			}

		}

	}
	
}