.navbar.topnavbar {
	background-color: #fff;
	background-image: none;
	border-bottom: none;
	color: @color-dark-text;
	line-height: 0;


	.navbar-header {
		background-image: none;

		.navbar-brand {
			background-color: @color-background-alt;
			color: @color-light-text;
		}
	
		.brand-logo {
			padding: 15px;
		}
	}

	.organization-name {

		padding: 15px;
		display: inline-block;
		color: @color-dark-text;

	}

	.navbar-right {

		img.profile-pic {
			width: 2em;
			height: 2em;
			margin-right: 3px;
		}

		.nav-username {

				padding-top: 15px;
				padding-right: 15px;

				display: inline-block;
				border: none;
				background-color: transparent;

				span.username {
					color: @color-dark-text;
					margin-right: 3px;
				}

				span.online-light {
					color: #0ACBC5;
					display: inline-block;
					margin-right: 5px;
				}

		}

	}	
}