.easy-search-input {
	padding: 5px;
	display: inline-block;
	margin-bottom: @baseline*2;
}

.project-stub {
	margin-bottom: 0px;
	border-bottom: none;
	margin-bottom: 0;

	.panel-body {
		padding-top: 15px;
	}

	.project-options {
		background-color: #fff;
		border: none;
		margin-right: 5px;
	}
}
.project-stub.panel.panel-default:last-child {
	border-bottom: 1px solid #ddd;
}

.project-header {
	padding: 15px;
	margin-bottom: 0;

	.content-menu {
		margin-bottom: @baseline*1.5;
	}

	.dropdown {
		display: inline-block;
		vertical-align: middle;
	}

	.menu-title {
		display: inline-block;
		margin-top: 0px;
		font-size: 1.8em;
		margin-bottom: 0px;
		margin-right: 10px;
		vertical-align: middle;
	}

	.info-title {
		display: block;
		margin-bottom: 5px;
		font-weight: 700;
		color: @color-dark-text;
	}

	.contact-info {
		color: @color-dark-text-alt;
		margin-bottom: @baseline;
	}

	.address {
		color: @color-dark-text-alt;
	}

}

.nav-tabs {
		border-bottom: none;
		margin-bottom: @baseline;

		li a {
			border-top: none;
		}

		li.active a {
			border-bottom: 1px solid #ddd;
			border-top: none;
		}
}

.tab-content {
	border: none;
	padding: 0px;
}

.project-page {

	form {
		margin-bottom: @baseline*2;
	}

}