@base-font-size: 14px;
@baseline: @base-font-size*1.5;

@color-background: #3c434c;
@color-background-alt: #2a333b;

@color-accent-primary: #379fd5;


@color-dark-text: #393939;
@color-dark-text-alt: #919191;


@color-light-text: #e1e6ec;
@color-light-text-alt: #7b8c9d;

@color-link: #5d9cec;