.sidebar {

	background-color: @color-background;

	ul.nav {

		margin-top: 20px;

		li.nav-heading {

			.nav-username {

				display: inline-block;
				padding-left: 0px;
				border: none;
				background-color: transparent;

				span.username {
					color: #fff;
				}

				span.online-light {
					color: #0ACBC5;
					display: inline-block;
					margin-right: 5px;
				}

			}

		}

		li {
			
			a {
				padding: 8px 24px;
			}

			a.has-button {
				display: inline-block;
			}

			a.nav-link.has-button {
				padding-right: 3px;
			}

			a.has-button.new-project {
				
				margin-top: 8px;
				display: inline-block;
				padding: 0;
				top: 2px;
				background-color: @color-background;

				em {
					font-size: 16px;
					display: inline-block;
				}

			}

		}

		ul.project-list {

			list-style-type: none;

			li {
				margin: 7px 0px;

				a {
					padding: 12px 0px;
					color: @color-light-text-alt;
				}

				a:hover {
					text-decoration: none;
				}
			}

		}

	}

}

.sidebar > .nav > li > a, .sidebar > .nav > li > .nav-item {
	color: @color-light-text-alt;
}

.sidebar > .nav > li > a:hover, .sidebar > .nav > li > .nav-item:hover {
	color: @color-dark-text-alt;
}