.reply-status-container {
	border: 1px solid #ddd;
	border-bottom: none;
	padding: 10px 15px;
	background-color: #fff;

	em {
		margin-right: 5px;
	}

	.reply-status-author {
		margin-right: 5px;
	}

	.reply-status-date {
		margin-left: 5px;
	}
}

.story {

	.story-metadata {
		margin-bottom: 5px;
	}

	.dropdown {

		display: inline-block;
		

		button {
			border: none;
			background-color: transparent;

			.icon-options {
				margin-right: 0px;
			}
		}

	}

	.tag-list {
		padding-top: 7px;
		padding-bottom: 7px;

		.btn-default {
			background-color: #e1f5ff;
			font-weight: bold;
			color: #379fd5;
			padding: 4px;

			.fa-close {
				margin-left: 4px;
			}
		}
	}

	btn {
		padding: 5px;
	}

	.btn.add-tag {
		background-color: #fff;
		color: @color-dark-text;
	}

	.panel-heading {

		.project-link {
			margin-left: 5px;
		}

		p {
			margin-bottom: 5px;
		}

		em {
			margin-right: 5px;
		}

		.checkbox {
			display: inline-block;
		}

		.c-checkbox input[type=checkbox]:checked + span, .c-radio input[type=checkbox]:checked + span, .c-checkbox input[type=radio]:checked + span, .c-radio input[type=radio]:checked + span {
			border-color: @color-accent-primary;
			background-color: @color-accent-primary;
		}

	}

	.panel-footer {

		background-color: #fafafa;

		form {
			margin-bottom: 0px;
		}

		.form-group {
			margin-bottom: 0px;
		}

	}

	.list-group-item {
		
		background-color: #f5f5f5;
		border-radius: 0px;
		border-top: 1px solid #ddd;
		border-left: none;
		border-right: none;
		border-bottom: none;
	}

}