.task-stub.panel.panel-default:last-child {
	border-bottom: 1px solid #ddd;
}

.task-stub {
	margin-bottom: 15px;
	border-bottom: none;

	.panel-heading {
		border-bottom: 1px solid #ddd;

		.checkbox {
			display: inline-block;
			padding: 0;
			margin: 0;
			margin-right: 5px;
		}

		.task-type {
			font-weight: 700;
			text-transform: capitalize;
			margin-bottom: 5px;
			margin-right: 10px;
		}

		.task-company {
			
		}

		.task-subject {
			margin-right: 10px;
		}

		.task-options {
			background-color: #fff;
			border: none;
			margin-right: 5px;
		}

		.task-due-date {
			margin-right: 15px;
		}
	}

	.panel-body {

		// background-color: #edf1f2;

		p {
			margin-bottom: 0px;
		}

		.task-details {

			.icon-note {
				margin-right: 5px;
			}

			.section-title {
				margin-right: 5px;
			}

			.col-xs-2 {
				padding-left: 0px;
			}

			p {
				color: @color-dark-text-alt;
			}

		}

	}

	.panel-footer {

		.form-group {
			margin-bottom: 0px;
		}

	}

}