.heavy {
	font-weight: 700;
}

.light {
	font-weight: 300;
}

.color-alt {
	color: @color-dark-text-alt;
}

.text-primary {
	color: @color-accent-primary;
}

.nav-active {
	color: @color-light-text;
	// background-color: @color-background;
	// border-left: none;
}

.profile-pic {
	width: 2em;
	height: 2em;
	margin-right: 3px;
}