<template name="fileStub">
	<div class="file-stub">
		<div class="list-group-item">
			<div class="media-box">
				<div class="media-box-body">
					<strong class="media-box-heading text-primary">
                    	{{userName}}
                    </strong>
                    <p>
                    	<em class="icon-doc"></em>
                    	<a href="{{this.url}}" class="file-stub-link">
							<span class="file-title">{{this.name}}</span>
						</a>
						<span class="file-size">({{fileSize}} KB)</span><br>
                    </p>
				</div>
			</div>
		</div>
	</div>
</template>