<template name="note">
	<div class="note">
		<div class="list-group-item">
			<div class="media-box">
				<div class="media-box-body">
					<img src="/img/profile-pic.jpg" class="profile-pic img-circle">
					<strong class="media-box-heading text-primary">
                    	{{userName}}
                    </strong>
                    <span class="created-at color-alt light">{{createdAt}}</span>
                    <p>
                    	{{body}}
                    </p>
				</div>
			</div>
		</div>
	</div>
</template>