<template name='noteSubmit'>
	<div class="modal fade" id="noteSubmit">
	    <div class="modal-dialog">
	      	<div class="modal-content">
		        <div class="modal-header">
		        	<h2 class="modal-title">New Note</h2>
		         	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		        </div>
	       		<div class="modal-body">
	       			<form class="form-horizontal">
						<div class="form-group">
							<div class="row">
								<div class="controls col-sm-12">
									<label for="body">Body</label>
									<textarea name="body" id="body" type="text" rows="4" value="" placeholder=""></textarea>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<input type="submit" value="Create" class="btn">
							</div>
						</div>
					</form>
	       		</div>
	      	</div>
	    </div>
	</div>
</template>